<p-fieldset legend="Search" [toggleable]="true">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="grid grid-cols-2 lg:grid-cols-3 gap-4 justify-items-stretch">
      @for (searchItem of activeItems; track searchItem){
      <app-dynamic-search-item
        [searchItem]="searchItem"
        [form]="form"
      ></app-dynamic-search-item>
      }
    </div>
    <p-toolbar>
      <ng-template #start>
        <p-select
          [(ngModel)]="selectedItem"
          [ngModelOptions]="{ standalone: true }"
          [options]="availableItems"
          placeholder="Add filter..."
          optionLabel="label"
          class="w-200"
        />
        <p-button
          icon="pi pi-plus"
          (onClick)="addSearchFilerItem()"
          class="mr-2"
          text
          severity="secondary"
        />
      </ng-template>
      <ng-template #center> </ng-template>
      <ng-template #end>
        <p-button label="Search" [disabled]="!form.valid" type="submit" />
      </ng-template>
    </p-toolbar>
  </form>
</p-fieldset>
