<div class="w-full">
  <app-app-topbar></app-app-topbar>
  <div class="flex">
    <app-app-sidebar></app-app-sidebar>

    <div class="w-full m-2">
        <div>
            <p-panel showHeader="false">
                <div class="mt-4">
                    <p-message variant="simple" size="large" severity="contrast">{{getTitle()}}</p-message>
                </div>
            </p-panel>
        </div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-app-footer></app-app-footer>
</div>
